footer.footer
  .footer__content
    a(href=path+"/").footer__content__logo
      img(src=path+"/img/logo/logo.svg", alt="ロゴ")
    .footer__content__list
      .footer__content__list__item
        a(href=path+"//").text-normal test
      .footer__content__list__item
        a(href=path+"//").text-normal test
      .footer__content__list__item
        a(href=path+"//").text-normal test
      .footer__content__list__item
        a(href=path+"//").text-normal test
      .footer__content__list__item
        a(href=path+"//").text-normal test
