//- #はid を意味する
header.header#header 
  .header_top 
    h1 TOTALLY 
    //- a(href=path+"/")
    //-   img(src=path+"/img/logo/logo.svg", alt="ロゴ")
  .header_inf 
    .header_list
      .header_list_item
        p ALL 
        //- a(href=path+"//").text-bold 
      .header_list_item
        p NEW 
        //- a(href=path+"//").text-bold 
      .header_list_item
        p VINTAGE 
        //- a(href=path+"//").text-bold 
      .header_list_item
        p CATEGORY 
        //- a(href=path+"//").text-bold 
      .header__list_item
        p LOOKBOOK 
        //- a(href=path+"//").text-bold
      .header__list_item
        P BLOG 
    .header_toggler
      .header_contact 
        p LOGIN 
      .header_contact 
        p CONTACT 
      

