header.header#header
  .header__img
    a(href=path+"/")
      img(src=path+"/img/logo/logo.svg", alt="ロゴ")
  .header__list
    .header__list__item
      a(href=path+"//").text-bold test
    .header__list__item
      a(href=path+"//").text-bold test
    .header__list__item
      a(href=path+"//").text-bold test
    .header__list__item
      a(href=path+"//").text-bold test
    .header__list__item
      a(href=path+"//").text-bold test
  .header__toggler
    span
