meta(charset="UTF-8")
title #{title}
meta(name="viewport" content="width=device-width,user-scalable=yes")
meta(name="format-detection" content="telephone=no")
meta(name="description" content=description)
meta(property="og:title" content=title)
meta(property="og:description" content=description)
meta(property="og:image" content=og_img)
meta(property="og:type" content=og_type)
meta(property="og:locale" content=og_locale)
meta(property="og:site_name" content=title)
meta(property="og:url" content=url)
meta(name="twitter:title" content=title)
meta(name="twitter:description" content=description)
meta(name="twitter:image" content=og_img)
meta(name="twitter:card" content=twitter_card)
meta(name="twitter:site" content=twitter_site)
meta(name="twitter:url" content=url)
meta(name="msvalidate.01" content="7851330534A5BE0314CDBED4D717C563")
link(rel="shortcut icon" type="image/vnd.microsoft.icon" href=path+"/img/favicons/favicon.ico")
link(rel="icon" type="image/vnd.microsoft.icon" href=path+"/img/favicons/favicon.ico")
link(rel="icon" href=path+"/img/favicons/favicon.ico")
link(rel="canonical" href=url)
link(rel="stylesheet" href=path+"/style.min.css")
link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap")
link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap")
link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css")
link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
link(rel="stylesheet" href="https://use.typekit.net/bzf2hbl.css")
link(rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css")
script(src="https://unpkg.com/swiper@7/swiper-bundle.min.js")
script(src="https://code.jquery.com/jquery-3.3.1.min.js")
